# Ignore node_modules in both server and client folders
/server/node_modules/
/client/node_modules/

# Ignore .env files in both server and client folders
/server/.env
/client/.env

# If there are other node_modules or .env in the root folder, ignore them too
/node_modules/
/.env
